////// Color Palette //////


$color1: #F47D31;
$color2: #FDBB54;
$color3: #E35460;
$color4: #5BBA8A;
$color5: #ffffff;
$color6: #F1F1F1;
$color7: #8F8E8B;
$color8: #3C4251;
$color9: #4C5364;
$color10: #605f5d;




$backgroundcolor1: #5C676D;
$backgroundcolor2: #A3B3C0;
$backgroundcolor3: #0A3049;
$backgroundcolor4: #0B6EB2;


a {
	font-size: 14px;
	color: $color1;
}