@import 'reset';
@import 'colors';
@import 'typography';
@import 'mixin-appgrids';
@import 'form-styles';



*,
*:after,
*:before {
	box-sizing: border-box;
}





///////MAIN CONTAINER///////

.bigbox {
	width: 100%;
	margin: 0 auto;
    box-sizing: border-box;
}



///////TOP NAVIGATION SECTION///////

#leftnav {
	display:flex;
	align-items:center;
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	// margin-top: 10px;

	img {
		width: 35px;
	}

	h3{
		padding-left: 15px;
	}

}

//REMOVE AFTER CLEANUP//

.col12 {
  background-color: #ffffff;
 }

//REMOVE AFTER CLEANUP//



///////BOTTOM NAVIGATION///////
.navbottom {
	border-bottom: 2px solid #F47D31;
	width: 100%;
	}

.mainlinks {
	height: 40px;
	padding-top:10px;
	padding-bottom: 10px;
	background-color: #FDBB54;

		li {
		float: right;
		margin-right: 20px;
		}
}

///////SIGN UP SECTION///////

.General-section {
	background-color: #F1F1F1;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;
		

	.col-off {
		display:none;
	}


	.Signin {
		padding-top: 10px;
		padding-bottom: 10px;
		// background-color: #DDD;
		max-width:500px;
		width:100%;
		margin:0 auto;
	 
		li {
		padding-bottom: 40px;
		}

		h1 {
		font-size: 35px;
		}

	}
}

///////PROFILE SECTION///////

.profile-section {
	background-color: #F1F1F1;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: left;



	.col-off {
		display:none;
	}


	.profile-creation {
		padding-top: 10px;
		padding-bottom: 10px;
		// background-color: #DDD;
		max-width:500px;
		width:100%;
		margin:0 auto;
	 
		li {
		padding-bottom: 10px;
		}

		h1 {
		font-size: 35px;
		}

	}
}


.Discovermatch-description {
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 18px;

}


.Discoverymatch-images {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;
	padding-left: 10px;

		li {
		float: left;
		padding-top: 40px;
		padding-left: 20px;
		}
			img{
				width: 75px;
			}
}


.Discovermatch-breadcrumb {
	// padding-top: 10px;
	padding-bottom: 30px;
	color: $color2;

}




@media screen and (min-width: 600px) {

	.General-section {
		
		.col-on {
			display:block;
		}
	}

	.profile-section {
		
		.col-on {
			display:block;
		}
	}


}
