
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>




	<%= stylesheet_link_tag 'application', media: 'all' %>


	<title>Lunch Box Lotto</title>

	  
</head>


<body>
	<nav>
		<a href='#home'> home </a>
		<a href='#signIn'> Register </a>
		<a href='#signIn'> Log In </a> 
		<a href='#profile'> Profile </a>
	</nav>


	<div class="bigbox">
			<header class="col12">
			<nav class="topnav">
				<ul id="leftnav">
					<li><img src="assets/Lunchbox-logo" alt=""></li>
					<li><h3>Lunch Lotto<h3></li>
				</ul>
			</nav>
			</header>
		<div class="navbottom col12"></div>
		<div class="col12 mainlinks">
				<ul>
					<li><a href="#">Test</a></li>
					<li><a href="#">Test</a></li>
					<li><a href="#">TEST</a></li>
				</ul>
		</div>

	</div>


	
	<div class="Login-section col12">
		<div class="col4 col-on col-off">Hidden at Global</div>
		<div class="Signin col4">
				
			<!-- Form -->
			<form class="signup-form" action="/" method="post">

			<ul>
				<li><img src="assets/Lunchbox-signin" alt=""></li>
	<!-- 					<h1 class="Signin-header">LOG IN</h1> -->
			</ul>
				<h3>Sign up</h3>
				<h4>Already have an account? <a href="#signIn">Log in</a></h4>
				<div>
					<label>
						<span>Your Email:</span>
						<input placeholder="Enter your email address" type="email" tabindex="1" required autofocus>
					</label>
				</div>
				<div>
					<label>
						<span>Your Password:</span>
						<input placeholder="Enter your password" type="password" tabindex="2" required>
					</label>
				</div>
				<div>
					<label>
						<span>Confirm Password:</span>
						<input placeholder="Confirm your password" type="password" tabindex="3" required>
					</label>
				</div>
				<div class="submit-button">
					<button name="submit" type="submit" id="signup-submit">Submit</button>
				</div>
			</form>

		</div>
		<div class="col4 col-on col-off">Hidden at Global</div>
	</div>



	<div class="profile-section col12">
		<div class="col4 col-on col-off">Hidden at Global</div>
		<div class="profile-creation col4">
				

			<form class="profile-form" action="/" method="post">

			<ul>
				<li><img src="assets/profilechief" alt=""></li>
			</ul>
				<h3>Create a Profile</h3>
				<div>
					<label>
						<span>Your Name:</span>
						<input placeholder="Enter your name" type="text" tabindex="1" required autofocus>
					</label>
				</div>
				<div>
					<label>
						<span>Bio</span>
						<textarea name="comments" placeholder="What do you want people to know about you" rows="3" maxlength="200" cols="60"></textarea>
					</label>
				</div>
				<div>
					<label>
						<span>Your Network Circle:</span>
							  <select name="Network-Circle">
							    <option value="Creative">Creative</option>
							    <option value="Engineering">Engineering</option>
							    <option value="Design">Design</option>
							    <option value="Product Management">Product Managment</option>
							    <option value="Venture Capitalist">Venture Capitalist</option>
							    <option value="Founder/CEO">Founder/CEO</option>
							  </select>
					</label>
				</div>

				<div class="foodtypes">

					<label>
					<span>Your Favorite Food Types:</span>
					</label>
					<ul>
						<li>
							<input type="checkbox" name="EasyBreezy" id="EB" value="25">
			        		<label for="1">
				      		<b>Easy Breezy</b>
					      		<div class="food-box">
					      		<p class="food-description">You have a zest for quick and easy food. Fast food is not a bad word. It can be a positively tasty experience given the right price.
					      		</p> 
					      		<img src="assets/fastfood" alt="">	
					      		</div>			  
			        		</label>
						</li>
						<li>
							<input type="checkbox" name="HealthNut" id="HN" value="25">
			        		<label for="2">
				      		<b>Health Nut</b>
					      		<div class="food-box">
					      		<p class="food-description">Eating healthy nutritious meals is a lifestyle you cant ignore. While others may view food as secondary, you see it as a key to improving your overall well being. Heres to good health!
					      		</p>
						      	<img src="assets/healthy1" alt="">	
					      		</div> 
			        		</label>
						</li>
						<li>
					        <input type="checkbox" name="WildChild" id="WC" value="25">
					        <label for="3">
						      <b>Wild Child</b>
					      	<div class="food-box">						      
					      		<p class="food-description">You love great food no matter where it takes you. Food Trucks, taco stands, and exotic local cuisines are staples. Nothing is off limits in your eyes. Where's the next adventure?
					      		</p>
					      		<img src="assets/wildchild" alt="">
				      		</div>				      		 
					        </label>
						</li>
					        <input type="checkbox" name="LuxeLunch" id="luxe" value="25">
					        <label for="4">
						      <b>Luxe Lunch</b>
		      					<div class="food-box">	
					      		<p class="food-description">The right dining experience isn't cheap and your willing to pay the price as long as they provide excellent service and impeccable food! Bon appetite!
					      		</p>
						      	<img src="assets/luxe" alt="">				      		
						      	</div> 
			        		</label>		
						</li>
						<li>
							<input type="checkbox" name="Casual Comfort" id="CSD" value="25">
			        		<label for="5">
				      		<b>Casual Comfort</b>
					      		<div class="food-box">	
					      		<p class="food-description">Your always looking for the next place to call home. You love atmosphere and you know sometimes the best things are simply a great coffee or drink at a local joint where everyone knows your name. Cheers!
					      		</p> 
					      		<img src="assets/tea" alt="">
					      		</div>				      		
			        		</label>
						</li>
					</ul>
				</div>

				<div>
					<label>
						<span>Twitter Profile</span>
						<input placeholder="Add a link to your Twitter profile" type="text" tabindex="3" required>
					</label>
				</div>
				<div>
					<label>
						<span>LinkedIn Profile</span>
						<input placeholder="Add a link to your Linked in profile" type="text" tabindex="3" required>
					</label>
				</div>
				<div class="submit-button">
					<button name="submit" type="submit" id="signup-submit">Create Profile</button>
				</div>
			</form>

		</div>
		<div class="col4 col-on col-off">Hidden at Global</div>
	</div>


	<div class="Login-section col12">
		<div class="col4 col-on col-off">Hidden at Global</div>
		<div class="Signin col4">
				
			<!-- Form -->
			<form class="signup-form" action="/" method="post">

			<ul>
				<li><img src="assets/question-mark" alt=""></li>
	<!-- 					<h1 class="Signin-header">LOG IN</h1> -->
			</ul>
				<h3>Let's find a new connection!</h3>
				<div class="Discovermatch-description">
					<label>
					We will do our best to match you with someone with the same desired Network Circle and Food preferences.
					</label>

				<div class="Discoverymatch-images">	
					<ul>
						<li><img src="assets/sushi" alt=""></li>
						<li><img src="assets/hamburger" alt=""></li>
						<li><img src="assets/apple" alt=""></li>
					</ul>
				</div>

				</div>
				<div class="Discovermatch-breadcrumb">
					Click the button below to find to discover new people to connect with.
				</div>
				<div class="connection-button">
					<button name="submit" type="submit" id="signup-submit">Find a Connection</button>
				</div>
			</form>

		</div>
		<div class="col4 col-on col-off">Hidden at Global</div>
	</div>






</div>

			
<!--   <div id='container'>
  </div> -->
  <%= javascript_include_tag 'application' %>
</body>
</html>
