<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>




	<%= stylesheet_link_tag 'application', media: 'all' %>


	<title>Lunch Box Lotto</title>

	  
</head>


<body>

	<div class="bigbox">
			<header class="col12">
			<nav class="topnav">
				<ul id="leftnav">
					<li><img src="assets/Lunchbox-logo" alt=""></li>
					<li><h3>Lunch Lotto<h3></li>
				</ul>
			</nav>
			</header>
		<div class="navbottom col12"></div>
		<div class="col12 mainlinks">
				<ul>
					<li><a href="#home">home</a></li>
					<li><a href="#register">Register</a></li>
					<li><a href='#logIn'> Log In </a> 
					<li><a href="#profile">Profile</a></li>
				</ul>
		</div>

	</div>


	<div class="General-section col12">
		<div class="col4 col-on col-off">Hidden at Global</div>
		<div class="Signin col4">
				
			Form
			<form class="signup-form" id="find-connection" action="/" method="post">

			<ul>
				<li><img src="assets/question-mark" alt=""></li>
						<h1 class="Signin-header">LOG IN</h1>
			</ul>
				<h3>Let's find a new connection!</h3>
				<div class="Discovermatch-description">
					<label>
					We'll' do our best to match you with someone with the same desired Network Circle and Food preferences.
					</label>

				<div class="Discoverymatch-images">	
					<ul>
						<li><img src="assets/sushi" alt=""></li>
						<li><img src="assets/hamburger" alt=""></li>
						<li><img src="assets/apple" alt=""></li>
					</ul>
				</div>

				</div>
				<div class="Discovermatch-breadcrumb">
					Click the button below to find to discover new people to connect with.
				</div>
				<div class="connection-button">
					<button name="submit" type="submit" id="match-submit">Find a Connection</button>
				</div>
			</form>

		</div>
		<div class="col4 col-on col-off">Hidden at Global</div>

		</div>
			<div class="General-section col12">
			<div class="col4 col-on col-off">Hidden at Global</div>
			<div class="Signin col4">
					
				Form
				<form class="signup-form" id="new-connection"action="/" method="post">

				<ul>
					<li><img src="assets/checkmark" alt=""></li>
							<h1 class="Signin-header">LOG IN</h1>
				</ul>
					<h3>New Connection Discovered!</h3>
					<div class="Discovermatch-description">
						<label>
						Its your lucky day! We found a new person for you to connect with! Check out his profile and if your interested reach out and introduce yourself.
						</label>

					<div class="Discoverymatch-images">	
						<ul>
							<li><img src="assets/starcircle" alt=""></li>
							<li><img src="assets/starcircle" alt=""></li>
							<li><img src="assets/starcircle" alt=""></li>
						</ul>
					</div>

					</div>
					<div class="Discovermatch-breadcrumb">
						Click the button below to view your new connection! 
					</div>
					<div class="connection-button">
						<button name="submit" type="submit" id="match-submit">View your matches!</button>
					</div>
				</form>

			</div>
			<div class="col4 col-on col-off">Hidden at Global</div>
		</div>


		</div>
			<div class="General-section col12">
			<div class="col4 col-on col-off">Hidden at Global</div>
			<div class="Signin col4">
					
				Form
				<form class="signup-form" id="no-connection" action="/" method="post">

				<ul>
					<li><img src="assets/exclamationpoint" alt=""></li>
							<h1 class="Signin-header">LOG IN</h1>
				</ul>
					<h3>No Connections found today!</h3>
					<div class="Discovermatch-description">
						<label>
						It looks like we couldn't find a match! Come back tommorrow to try again! Check out his profile and if your interested reach out and introduce yourself.
						</label>

					<div class="Discoverymatch-images">	
						<ul>
							<li><img src="assets/question-mark" alt=""></li>
							<li><img src="assets/question-mark" alt=""></li>
							<li><img src="assets/question-mark" alt=""></li>
						</ul>
					</div>

					</div>
					<div class="Discovermatch-breadcrumb">
						Click the button below to view your previous connections! 
					</div>
					<div class="connection-button">
						<button name="submit" type="submit" id="nomatch-submit">View your previous connections!</button>
					</div>
				</form>

			</div>
			<div class="col4 col-on col-off">Hidden at Global</div>
		</div>

</div>
-->
			
  <div id='container'>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>