<!DOCTYPE html>
<html>
<head>
  <title>Backreact</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
	<nav>
		<a href='#home'> Carousel goes here</a>
		<a href='#signIn'> Register </a>
		<a href='#signIn'> Log In </a>
		<a href='#profile'> Profile </a>
	</nav>

	


	
			
  <div id='container'>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
